<!DOCTYPE html>
<html>
<head>
  <title>Valar Morghulis</title>
  	<div class="jumbotron">
  		<h1>Valar Morghulis</h1>
	</div>
		
	<div class="families">
		<div class="col-md-4">
			<li>Starks</li>
		</div>
		<div class="col-md-4">
			<li>Targareyn</li>
		</div>
		<div class="col-md-4">
			<li>Lannister</li>
		</div>	
	</div>
			
</head>


<body>


</body>
</html>
